<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Most Starred GitHub Cli Extensions</h1>
   
    <ul>
        <% repos.forEach(function(repo) { %>
          <li>
            <a href="repo.url" target="_blank">
                <strong><%= repo.nameWithOwner %></strong>
            </a>
            <%= repo.description %>
          </li>
        <% }); %>
      </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>