<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Most Starred GitHub Cli Extensions</h1>
   
    <ul>
        <% repos.forEach(function(repo) { %>
          <li>
            <a href="<%= repo.node.url %>" target="_blank">
                <strong><%= repo.node.nameWithOwner %></strong>
            </a>
            <%= repo.node.description %>
            <!-- <%= repo.cursor %> -->
          </li>
        <% }); %>
      </ul>
      <a href="/next/<%= lastCursor %>">
        <button type="button" class="btn btn-primary btn-sm float-right">Next extensions</button>
      </a>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>